*{     /* ضروري ندير هاد جوج باش مايديروش ليا فراغات */
    padding: 0%;
    margin: 0%;
    font-family: Century Gothic;
}
body{
    background-image: url(1.jpg);
    height: 100vh;              /* هااااااد 3 نااااضين كيعطيوك لاسق خاسني نديرهم ديما */
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    height: 70px;
    background-color: #295b80!important;
    padding: auto;
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
}
ul li {
    display: inline-block;

}
ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid #1f3338;
    color: white;
}
ul li a:hover{
    background-color: white  ;
    color: #000000;
    size: initial;
}
.logo {
    float: left;
    transform: scale(0.49,0.27);    /* scale(0.0304,0.0245) */
    position: absolute;
    top: 0.8%;
    right: 100%;
    bottom: 100%;
    left: 1%;
}
.name_logo {
    color:white ;
    position: fixed;
    top: 3%;
    left: 10%;

}

main {
    clear: both;
    border-radius: 15px;
    text-align: center;
    width: 35%;
    height: 440px;
    background-color: #9e9e9e80;
    position: fixed;
    right: 0%;
    top: 20%;
    left: 30%;
    bottom: 0%;

}

h1{
    margin:10px 15px;
    padding: 15px 15px;
}
#form{
    margin: 23px 15px;
    font-size: 20px;
    font-weight: lighter;
}
form input{
    padding: 7px 53px;
    border: 1px solid black;
    margin: 15px 10px ;

}

form input:hover{
    color: black;
    padding: 10px 65px;
    font-size: 17px;
  
}
.button1 {
    padding: 5px 8px;
    margin: 15px ;
    background-color: #295b80;
    color: white;
    border: 1px solid black;
    transform: scale(1.3,1.3);
    position: fixed;
    right: 0%;
    left: 45%;
    bottom: 28%;
    border-radius: 8px;
}
.button2 {
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px ;
    background-color: #295b80;
    color: white;
    border: 1px solid black;
    transform: scale(1.3,1.3);
    position: fixed;
    right: 0%;
    left:42%;
    bottom: 18%;
}
#forgotpassword{
    font-size: 18px;
    color: black;
    font-weight: lighter;

}
